body{
    font-family: 'Poppins';
    
}

#main{
    background-image: url("background.jpg");
    background-attachment: fixed;    
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 10%;
}


/* Nav Bar */

.navbar-brand{
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
    
}

nav .nav-item{
    margin: 5px 10px;
}


.nav-link{
    font-size:1rem;
}

.navbar{
    padding:15%;
    background-color: #000000;
}


/* Form */

.form-div{
    background: rgba(217, 217, 217, 0.2);
    margin: 10% 10% 4%;
    padding: 70px 6% 5%;
    border: 1px solid #000000;
    border-radius: 46px;
}


.download-btn{
    display: inline-block;
    margin: 1% 3% 5%;
    
}

.sign-up-button-div,.submit-button-div{
    text-align: center;  
}



h1{
    color: #FFFEFE;
}

p{
    color: #AAA1A1;

}


select,input{
    height: 60.91px;
}

.submit-btn{
    padding: 10px 120px;
    border-radius: 10px;
    border-color: #A8FF35;
    margin-top: 20px;
    color: #A8FF35;
    background-color: transparent;
    font-size:20px;
}




.submit-btn:hover {
    background-color: #A8FF35;
    color: black;
    transition-duration: 0.4s;
    font-size:20px;
}


.submit-button-div a{
    color: #A8FF35;   
}

.submit-button-div a:hover{
    color: #76c70d;   
}

.submit-button-div p{
    display: inline-block;
}

.login-account-div{
    margin-top: 30px;
    color:#FFFEFE
}










  




