body{
    background-image: url('login-background.jpg');
    color: white;
    font-family: sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
  }
  .logo{
    float: left;
    height: 250px;
    width: 450px;
    align-content: left;
  }

  li{
    float: right;
  }
  
  li a {
    display: inline-block;
    box-sizing: border-box;
    color: white;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
  }
  li a:active{
    background-color: gray;
  }
  li a:hover {
    color: blue;
    background-color: lightgray;
  }
.loginbox{
  width: 550px;
  height: 500px;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 10px 50px;
  align-items: center;
}
.loginbox h1{
  margin:20;
  padding: 20 20 20px;
  font-size: 30px;
  text-align: center;
}
.loginbox h4{
  margin:20;
  padding: 20 20 20px;
  text-align: center;

}
.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;

}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="email"], input[type="password"]{
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}
.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: red;
  color: white;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
  cursor:pointer;
  background: #ffc107;
  color:black;
}

.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}
.loginbox a:hover{
  color: #ffc107;
}
.loginbox input[type="button"]{
  border: none;
  outline: none;
  height: 40px;
  width: 220px;
  background: red;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  align-content: center;
  align-self: center;
}
.loginbox input[type="button"]:hover{
  cursor:pointer;
  background: #ffc107;
  color:black;
}
