
<!DOCTYPE html>
{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Page</title>
    <style>
        body {
            background-color: black;
        }
        #container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #camera {
            border-radius: 50%;
            overflow: hidden;
            width: 400px;
            height: 400px;
        }
        #camera video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        #status {
            color: white;
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }
        #mood {
            color: white;
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }
    </style>
    <!-- CSS -->
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="favicon.ico">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    
     <!-- Bootstrap -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     
     <!-- Icons -->
     <script src="https://kit.fontawesome.com/99bdbc31f3.js" crossorigin="anonymous"></script>

</head>

<body>
    <section id="navBa">
        <div class="container-fluid">
            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary fixed-top">   
                <a class="navbar-brand"  href="index.html"><img src="Logo.png" alt="Bootstrap" width="194" height="57.5"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a href="index.html" class="nav-item nav-link btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-person"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="about us.html" class="nav-item nav-link">About</a>
                    </li>
                    <li class="nav-item">
                      <a href="how it works.html" class="nav-item nav-link">How it works</a>
                    </li>
                    <li class="nav-item">
                      <a href="contact.html" class="nav-item nav-link">Contact us</a>
                    </li>
                    <li class="nav-item">
                      <a href="service.html" class="nav-item nav-link">Trending</a>
                    </li>
                    <li class="nav-item">
                      <a href="contact.html" class="nav-item nav-link">Browse movies</a>
                    </li>
                  </ul>
                </div>
            </nav>
          </div>
    </section>

    <div id="container">
        <div id="camera">
            <video id="video" autoplay></video>
        </div>
    </div>
    <div id="buttons">
        <button id="capture">Capture</button>
    </div>
    <p id="status"></p>
    <p id="mood"></p>
    <form id="capture-form" method="POST" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="image"/>
        <button type="submit" id="predict-button" style="display: none;">Predict Mood</button>
    </form>
    
    <script>
        var video = document.getElementById('video');
        var captureButton = document.getElementById('capture');
        var predictButton = document.getElementById('predict-button');
        var statusElement = document.getElementById('status');
        var moodElement = document.getElementById('mood');
        var form = document.getElementById('capture-form');

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                video.srcObject = stream;
            })
            .catch(function(error) {
                console.log(error);
            });

        captureButton.addEventListener('click', function() {
            statusElement.innerText = 'Capturing image...';
            var canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            var context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            var image = canvas.toDataURL('image/png');

            // send the image data to the Flask server
            $.ajax({
                type: 'POST',
                url: '/upload_image',
                data: {image_data: image},
                success: function(response) {
                    console.log(response);
                    // redirect to the results page
                    window.location.href = '/results';
                },
                error: function(error) {
                    console.log(error);
                }
            });

            // // Update the form with the captured image data
            // var formData = new FormData(form);
            // formData.set('image', dataURItoBlob(image), 'image.png');

            // // Submit the form to the Flask app
            // var xhr = new XMLHttpRequest();
            // xhr.open(form.method, form.action, true);
            // xhr.onload = function (event) {
            //     if (xhr.status === 200) {
            //         var response = JSON.parse(xhr.responseText);
            //         moodElement.innerText = 'Your mood is: ' + response.mood;
            //         statusElement.innerText = '';
            //     } else {
            //         statusElement.innerText = 'Error: ' + xhr.statusText;
            //     }
            // };
            // xhr.onerror = function (event) {
            //     statusElement.innerText = 'Error: ' + xhr.statusText;
            // };
            // xhr.send(formData);
        });

        function dataURItoBlob(dataURI) {
            var byteString = atob(dataURI.split(',')[1]);
            var ab = new ArrayBuffer(byteString.length);
            var ia = new Uint8Array(ab);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }
            return new Blob([ab], { type: 'image/png' });
        }
    </script>
</body>
</html>
