<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<h1>Results</h1>
	<p>Here's the captured image:</p>
	<img src="{{ url_for('static', filename='images/captured_image.jpg') }}" alt="Captured Image">
</body>
</html>