<!doctype html>
<html>
<head>
    <title>Sentiment Analysis Results</title>
</head>
<body>
    <h1>Sentiment Analysis Results</h1>
    <p>The predicted sentiment for the given Twitter profile is: {{ predicted_label }}</p>
</body>
</html>