<!DOCTYPE html>
<html>
  <head>
    <title>Movie List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/index.css">

    <style>
      .card-img-top {
        max-height: 200px;
        object-fit: contain;
      }

     
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-5">Movie List</h1>
      <div class="row">
        <% movies.forEach(function(movie) { %>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="<%= movie.Poster %>" alt="<%= movie.Title %> poster">
              <div class="card-body">
                <h5 class="card-title"><%= movie.Title %></h5>
                <!--<p class="card-text"><strong>Genre:</strong> <%= movie.Genre %></p> -->
                <p class="card-text"><strong>Sentiment:</strong> <%= movie.Sentiment %></p> 
              </div>
            </div>
          </div>
        <% }); %>
      </div>

      <button class="btn btn-outline-dark">fgfgfgfg</button>
      <h1>Text </h1>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
